#### SQL and SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [2]:
import sqlite3

In [4]:
## connect to an sqlite database
connection=sqlite3.connect('example.db')
connection

In [5]:
## now we will create a cursor object which will make sure that it will iterate to all the tables rows
cursor=connection.cursor()
cursor

In [6]:
## create a table
cursor.execute('''
Create Table If Not Exists employees(
               Id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department Text
               )
            ''')

In [7]:
## after executing we need to commit the changes
connection.commit()

In [8]:
cursor.execute('''
Select * from employees
               ''')

In [9]:
## insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
               values('Pulkit',23,'EN')
               ''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
''')

## commit the changes
connection.commit()

In [11]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()           ## fetachall is one function that we specifically use to get all the records from the select star command

## print the queried data

for row in rows:
    print(row)

(1, 'Pulkit', 23, 'EN')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [12]:
## Update the data in the table
cursor.execute('''
UPDATE employees
Set age=34
where name="Pulkit"
''')

connection.commit()

In [13]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Pulkit', 34, 'EN')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [14]:
## Delete the data from the table
cursor.execute('''
Delete from employees
               where name ='Bob'
''')

connection.commit()

In [15]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Pulkit', 34, 'EN')
(3, 'Charlie', 35, 'Finance')

In [4]:
## Working With Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [5]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [6]:
## close the connection
connection.close()
## if u really want to permanently close the connection that basically means you will not have access to any DB..

In [7]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.